* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 10% 10%;
    font-family: "", sans-serif;
    background-color: black;
    height: 100%;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
 